.titulo_principal {
	text-align: center;
	font-family: $fuenteHeading;
	padding: 3rem;
}
.contacto_info {
	background-color: $colorSecundario;
	padding-top: 2rem;
	h2 {
		text-align: center;
		font-family: $fuenteHeading;
    font-weight: 600;
	}
}
.contacto_info_consulta {
	background-color: $colorSecundario;
	text-align: center;
	p {
		margin: 0;
		font-family: $fuenteParrafos;
	}
	h3 {
		font-family: $fuenteHeading;
		color: $colorTitulo;
		font-weight: bold;
	}
}
.contacto_info_detalle {
	display: flex;
	padding: 2rem;
	gap: 10rem;
	align-items: center;
	justify-content: center;
	h3 {
		text-align: center;
		font-family: $fuenteHeading;
		color: $colorTitulo;
    font-weight: bold;
	}
	p {
		text-align: center;
		font-family: $fuenteParrafos;
	}
}
.formulario {
	width: 100%;
	padding: 5rem;
	background-color: $colorSecundario;
}
.formulario_contacto {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.campo {
	display: grid;
}
.campo_ajuste {
	label {
		text-align: top;
	}
	input {
		background-color: $colorSecundario;
		border: none;
		border-bottom: 1px solid $colorTitulo;
		transition: 0.1Fs;
	}
	&:hover {
		input {
			border-bottom: 2px solid $colorTitulo;
		}
	}
}
textarea {
	background-color: $colorSecundario;
	border: none;
	border-bottom: 1px solid $colorTitulo;
	transition: 0.1Fs;
	border-bottom: 2px solid $colorTitulo;
}
.btn_enviar_form {
	background-color: $colorTitulo;
	padding: 1rem;
	font-size: 1.3rem;
	margin-top: 1rem;
	border-radius: 5%;
	transition: 0.3s;
	color: $colorBase;
	&:hover {
		background-color: $colorBase;
		color: $colorTitulo;
	}
}
